/* uvodni nastaveni --------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Frank Ruhl Libre");
@font-face {
    font-family: "Booter Zero Zero";
    src: url(/Fonty/Booter\ -\ Zero\ Zero.woff) format("woff"),
         url(/Fonty/Booter\ -\ Zero\ Zero.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}


/* univerzalni pro celou stranku---------------------------------------------- */

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}

p {
    font-size: 20px;    
    /* text-align: justify; */
    line-height: 35px;
    /* text-align: center; */
}
    

h2 {
    margin:0;
    padding: 0;
    font-size: 1.5em;
}

div {
    margin: 0;
    padding: 0;
}

/* horni lista ------------------------------------------------------------------*/


/* horni lista ------------------------------------------------------------------*/


.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)

}.checkbtn {
    font: size 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right:40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.logo {
    display: none;
}

/* uvodni gif a hlavni nadpis -------------------------------------------------*/

.main-header {
    background-image: url(obrazky/gif_var2_pomaleji_sirsi.gif);
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    max-width: 100vw;
    display: block;
    margin: 0 auto;
    height: 70vw;
    /* background-attachment:fixed; */
}

.hlavni-nadpis {
    text-align: center;
    margin: 0;
    /* font-size: 10vw; */
    font-family: Raleway;
    color: rgba(255, 255, 255, 0.801);
    font-weight: 100;
    padding-top: 42vw;
    padding-bottom: 10vw;
}

/* .ubytovani-nadpis { */
    /* text-align: center; */
    /* margin: 0; */
    /* font-size: 4em; */
    /* font-family: Raleway; */
    /* color: white; */
    /* font-weight: 100; */
    /* padding-top: 300px; */
/* } */

.hlavni-nadpis-velky {
    font-size: 2.2em; 
}


/* nastaveni sekci ------------------------------------------------------------ */


.content-section {
    margin: 1em;

}

.container {
    /* max-width: 1700px; */
    width: 100vw;
    margin: 0 auto;
    padding: 0 2em;
}

.section-header {
    color: #333;
    padding-top: 50px;
}

/* nastaveni obrazku -------------------------------------------------------- */

.obrazek-typ2 {
    float: right;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-style:solid;
    border-width: 1em;
    /* border-color: #f7cd00a6; */
    /* border-color: #608f2369; */
    border-color: rgba(77, 77, 77, 0.137);
    /* border-color: rgba(248, 164, 178, 0.4); */
    padding: 10px;
    /* border-radius: 3em; */

}

.obrazek-typ1 {
    float: left;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-style: solid;
    border-width: 1em;
    /* border-color: rgba(237, 212, 240, 0.849); */
    /* border-color: rgba(224, 151, 171, 0.336); */
    border-color: rgba(77, 77, 77, 0.4);
    padding: 10px;

    /* border-radius: 3em; */

}

.obrazek_filtr {

    filter: grayscale(1);
    width: 30%;
}

.obrazek_filtr:hover {

    filter: grayscale(0);
    transition: all .8s ease;
}

.obrazky {
    /* width: 3%; */
    /* display: flex; */
    align-items: center;
    gap: 1%;
    /* text-align: center; */
    justify-content: center;
    margin: 50px -50px 70px -50px;
    padding: 6%;
    display: none;

}


/* nastaveni spodni listy ---------------------------------------------- */

.main-footer {
    background-color: #777;
    color: white;
    /* position: static; */
    bottom: 0;
    width: 100wv;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 50px 10px 50px;

}


.spodni-nadpis {
    color: white;
    font-size: 19px;
    text-decoration: none;
}


/* nastaveni jednotlivych sekci (pozadi, margin) ---------------------------------------------- */

.sekce_barva {
    /* background-color: rgba(228, 207, 207, 0.226); */
    /* background-color: rgba(224, 151, 171, 0.05); */
    /* background-color: rgba(75, 82, 64, 0.1); */
    /* background:  linear-gradient(124deg,  rgba(75, 82, 64, 0.1), rgba(224, 151, 171, 0.05), rgba(228, 207, 207, 0.226)); */
    padding-bottom: 50px;
    background-color: rgba(85, 85, 85, 0.048);
}

.sekce_bila {
    /* background-color: rgba(228, 207, 207, 0.226); */
    /* background-color: rgba(224, 151, 171, 0.05); */
    /* background-color: rgba(75, 82, 64, 0.1); */
    padding-bottom: 50px;

}

/* vzhled cudliku ---------------------------------------------------- */

.cudlik1 {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(180, 180, 180, 0.253);
    /* background-color: rgba(114, 146, 72, 0.129); */
    font-size: 20px; 
    cursor: pointer;
    border-color: rgba(197, 197, 197, 0.281);
    /* border-color: rgba(107, 141, 64, 0.129); */
    border-radius: 20px 0px 20px 0px;
    /* border-radius: 30px; */
    border-style: solid; 
    border-width: 5px;
    transition-duration: 0.4s;
        
    }

.sekce_cudlik {
    text-align:center;
    margin: 20px;

}

.cudlik1:hover {
    background-color: transparent;
}


.cudlik2 {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    /* background-color: rgba(237, 212, 240, 0.849); */
    /* background-color: rgba(238, 225, 228, 0.363); */
    font-size: 20px; 
    cursor: pointer;
    /* border-color: rgba(237, 212, 240, 0.849); */
    /* border-color: rgba(236, 226, 228, 0.5); */
    border-radius: 20px 0px 20px 0px;
    /* border-radius: 30px; */
    border-style: solid; 
    border-width: 5px;
    transition-duration: 0.4s;

    background-color: rgba(180, 180, 180, 0.253);

    border-color: rgba(197, 197, 197, 0.281);
        
}


.cudlik2:hover {
    background-color: transparent;
}

/* timeline, vcetne nastaveni pozadi a pisma sekce kdy & kde---------------------- */

.timeline {
    white-space: nowrap;
    margin-left: -50px;
    margin-right: -50px;
    /* margin-bottom: 50px; */
    background-image: url(obrazky/modlitebna_mobil.jpg);
    background-color: rgba(58, 53, 46, 0.637);
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
}

.kdykde_sekce {
    min-height: 650px;
    /* overflow-x: hidden; */
    /* /* background-image: url(obrazky/modlitebna_mobil.jpg); */
    background-color: rgba(97, 97, 97, 0.034);
    /* background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed; */ 
    /* background-position: center; */
    /* margin-left: -50px; */
    /* margin-right: -50px; */
    margin-bottom: 50px;
}

/* .kdykde_pismo { */
    /* color: white; */
/* }  */

.kdykde_pismo2 {
    color: white;
}

   
.timeline ol li:not(:last-child) {
    list-style-type: none;
    width: 1px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 45%;
    padding-top: 50px;
    position: relative;
}

   
.timeline ol li:last-child {
    list-style-type: none;
    width: 1px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 45%;
    padding-top: 100px;
    position: relative;
}
   
.timeline ol li:not(:last-child)::after{
    content: " ";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
}

.timeline ol li div {
    position: relative;
    bottom: 0;
    width: 30vw;
    padding: 15px;
    background:rgb(250, 250, 250);
    white-space: initial;

    
}
/* 
.timeline ol li div::before {
    content:'';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    
} */

.timeline ol li:nth-child(even) div {
    left: 4vw;
    border-radius: 20px 20px 20px 0px;
}


.timeline ol li:nth-child(odd) div {
    left: -34vw;
    border-radius: 20px 20px 0px 20px;
}




  

.timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.kdykde_odsazeni {
    padding-bottom: 20px;
}


.odkaz {
    color:rgba(179, 179, 179, 0.712);
}

.poznamka {
    display: none;
}