
/* uvodni nastaveni --------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Frank Ruhl Libre");
@font-face {
    font-family: "Booter Zero Zero";
    src: url(/Fonty/Booter\ -\ Zero\ Zero.woff) format("woff"),
         url(/Fonty/Booter\ -\ Zero\ Zero.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}


/* univerzalni pro celou stranku---------------------------------------------- */

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
    overflow-x: hidden;
    width: 100%;
}

p {
    font-size: 20px;    
    text-align: justify;
    line-height: 35px;
}
    

h2 {
    margin:0;
    padding: 0;
}


/* horni lista ------------------------------------------------------------------*/


.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
    padding: .5em;
    color: white;
    text-decoration: none;
    padding: 0 5%;
    left: 10px;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}


.nav a:hover {
    background-color: rgba(255, 255, 255, .3)

}.checkbtn {
    font: size 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right:40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.logo {
    display: none;
}

/* uvodni gif a hlavni nadpis -------------------------------------------------*/

.main-header {
    background-image: url(obrazky/gif_var2_pomaleji_sirsi.gif);
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.hlavni-nadpis {
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    font-family: Raleway;
    color: rgba(255, 255, 255, 0.801);
    font-weight: 100;
    padding-top: 400px;
    padding-bottom: 20px;
}

.hlavni-nadpis-velky {
    font-size: 4em; 
}


/* nastaveni sekci ------------------------------------------------------------ */


.content-section {
    margin: 1em;

}

.container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 3em;
}

.section-header {
    color: #333;
    padding-top: 50px;
}

/* nastaveni obrazku -------------------------------------------------------- */

.obrazek-typ2 {
    float: right;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-style:solid;
    border-width: 1em;
    border-color: rgba(77, 77, 77, 0.137);
    padding: 10px;

}

.obrazek-typ1 {
    float: left;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-style: solid;
    border-width: 1em;
    border-color: rgba(77, 77, 77, 0.4);
    padding: 10px;

}

.obrazek_filtr {

    filter: grayscale(1);
    width: 30%;
}

.obrazek_filtr:hover {

    filter: grayscale(0);
    transition: all .8s ease;
}

.obrazky {
    display:none;
    align-items: center;
    gap: 1%;
    justify-content: center;
    margin: 50px -50px 70px -50px;
    padding: 6%;

}

/* nastaveni spodni listy ---------------------------------------------- */

.main-footer {
    background-color: #777;
    color: white;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 50px 10px 50px;

}


.spodni-nadpis {
    color: white;
    font-size: 19px;
    text-decoration: none;
}




/* nastaveni jednotlivych sekci (pozadi, margin) ---------------------------------------------- */

.sekce_barva {
    padding-bottom: 50px;
    background-color: rgba(85, 85, 85, 0.048);
}

.sekce_bila {
    padding-bottom: 50px;

}

/* vzhled cudliku ---------------------------------------------------- */

.cudlik1 {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(180, 180, 180, 0.253);
    font-size: 20px; 
    cursor: pointer;
    border-color: rgba(197, 197, 197, 0.281);
    border-radius: 20px 0px 20px 0px;
    border-style: solid; 
    border-width: 5px;
    transition-duration: 0.4s;
        
    }

.sekce_cudlik {
    text-align:right;
    margin: 20px;

}

.cudlik1:hover {
    background-color: transparent;
}


.cudlik2 {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px; 
    cursor: pointer;
    border-radius: 20px 0px 20px 0px;
    border-style: solid; 
    border-width: 5px;
    transition-duration: 0.4s;
    background-color: rgba(180, 180, 180, 0.253);
    border-color: rgba(197, 197, 197, 0.281);
        
    }


.cudlik2:hover {
    background-color: transparent;
}

/* timeline, vcetne nastaveni pozadi a pisma sekce kdy & kde---------------------- */

.timeline {
    white-space: nowrap;
    margin-left: -50px;
    margin-right: -50px;
}

.kdykde_sekce {
    background-image: url(obrazky/modlitebna.jpg);
    background-color: rgba(58, 53, 46, 0.637);
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
}

.kdykde_pismo {
    color: white;
}

.kdykde_pismo2 {
    color: white;
    margin: 50px;
}
   
.timeline ol {
    font-size: 0;
    padding: 200px 0;
}
   
.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 18%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
}
   
.timeline ol li:last-child {
    width: 25%;
}


   
.timeline ol li:not(:first-child) {
    margin-left: 12px;
}
  
.timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
    border-radius: 50%;
}

.timeline ol li:nth-child(odd)::after {
    background: rgba(255, 255, 255, 0.301);
}

.timeline ol li:nth-child(2)::after {
    background: rgba(255, 255, 255, 0.301);
}

.timeline ol li:nth-child(4)::after {
    background: rgba(255, 255, 255, 0.301);
}



.timeline ol li div {
    position: absolute;
    width: 80%;
    min-width: 100px;
    min-height: 100px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: rgba(255, 255, 255, 1);
 }
  
.timeline ol li div::before {
    position: relative;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
}
  
.timeline ol li:nth-child(odd) div {
    top: -30px;
    transform: translateY(-100%);
    left: 104%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

  
.timeline ol li:nth-child(even) div {
    top: calc(100% + 30px);
    left: 104%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
  
  
.timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.kdykde_odsazeni {
    margin-top: -30px;
    padding-bottom: 30px;
}


.odkaz {
    color:rgba(179, 179, 179, 0.712);
}
